{% load static %}
<html lang="en">
    <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Plataforma OralExperts {% block titulo %}{% endblock %}</title>

        <!-- css estilos -->
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <!-- fuente -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/nunito/stylesheet.css' %}">
        <!-- bootstrap datatables -->
        <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}">
        <!-- sb-admin -->
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
        <!-- estilos personalizados -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extrahead %}{% endblock extrahead %}

    </head>
    <style>
        .fa, .fab, .fad, .fal, .far, .fas {
       
        line-height: 1.5;
        }
        .card-body{
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }
        @media (min-width: 768px) {
            .card-body {
            flex: 1 1 auto;
             padding: 7.25rem;
             margin-top: -20px;
            }
        }
        .text-primary {
            color: #007cba !important;
        }
        .btn-info{
            background-color: #007cba;
        }
    </style>
    <body id="page-top">
        <!-- Page Wrapper -->
         <div id="wrapper">
            <!--Menu-->
            <!-- Sidebar -->
            <ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #007cba;">

                <!-- Sidebar - Brand -->
                <!--logo oralexperts menu-->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                    <!--<div class="sidebar-brand-icon rotate-n-15">-->
                    <div class="sidebar-brand-icon">
                        <img src="{% static 'img/diente.png' %}">
                    </div>
                    <div class="sidebar-brand-text mx-3"><img src="{% static 'img/logomin.png' %}" style="margin-left: -15px; margin-top: 4;"></sup></div>
                </a>
                <!--logo oralexperts menu end-->
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                
                <!-- App de pacientes -->
                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>inicio</span></a>
                </li>
                <hr class="sidebar-divider">
                
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'pacientes:perfilPaciente' itemPaciente.pk %}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Perfil</span></a>
                </li>
                
                <li class="nav-item " >
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePacientes"
                        aria-expanded="true" aria-controls="collapsePacientes">
                        <i class="fas fa-fw fa-tooth"></i>
                        <span>Especialidades</span>
                    </a>
                    <div id="collapsePacientes" class="collapse" aria-labelledby="headingPacientes"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="{% url 'pacientes:listaOdontogeneral' itemPaciente.id %}">Odontología General</a>
                            <a class="collapse-item" href="{% url 'pacientes:listaOdontopedriatria' itemPaciente.id %}">Odontopedriatría</a>
                            <a class="collapse-item" href="{% url 'pacientes:listaEndodoncia' itemPaciente.id %}">Endodoncia</a>
                            <a class="collapse-item" href="{% url 'pacientes:listaOrtodoncia' itemPaciente.id %}">Ortodoncia</a>
                            <a class="collapse-item" href="{% url 'pacientes:listaRehaboral' itemPaciente.id %}">Rehabilitación Oral</a>
                        </div>
                    </div>
                </li>

                 <!--Odontograma-->
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes:odontograma' itemPaciente.id %}">
                        <i class="fas fa-fw fa-teeth-open"></i>
                        <span>Odontograma MINSA</span></a>
                </li>
            

                <!-- Plan de tratamientos-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes:planTratamiento' itemPaciente.id %}">
                        <i class="fas fa-fw fa-id-card-alt"></i>
                        <span>Plan de tratamiento</span></a>
                </li>

                <!--Recetas-->
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes:listaRecetas' itemPaciente.id %}">
                        <i class="fas fa-fw fa-paste"></i>
                        <span>Recetas</span></a>
                </li>
                 <!--Imagenes/Rayos X-->
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes:imagenes' itemPaciente.id %}">
                        <i class="fas fa-fw fa-images"></i>
                        <span>Imágenes/Rayos X</span></a>
                </li>
                
                <!--Pagos-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pacientes:listaPagos' itemPaciente.id %}">
                        <i class="fas fa-fw fa-file-invoice-dollar"></i>
                        <span>Pagos</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

                </ul>
                <!--Menu end-->
                <div id="content-wrapper" class="d-flex flex-column" style="background-image: url('{% static 'img/dientesback.png' %}');">
                     <div id="content">
                        <!--navbar user-->
                          <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                            <!-- Sidebar Toggle (Topbar) -->
                             <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                 <i class="fa fa-bars"></i>
                             </button>
                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">
                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dr. Dennery Gallegos</span>
                                        <img class="img-profile rounded-circle"
                                            src="{% static 'img/undraw_profile.svg' %}">
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Cerrar Sesión
                                        </a>
                                    </div>
                                </li>

                            </ul>

                        </nav>
                              <!-- End of Topbar -->
                         <!--navbar user end-->
                          {% block body %}
                          {% endblock %}
                    </div>
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Oral Experts 2021</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->
                </div>
            
         </div>
         <!-- Page Wrapper end-->
        

        <!-- javascript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
        <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
        <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
        {% block extra_js %}{% endblock extra_js %}
        <!-- JS de los graficos -->
        <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->
        <!-- Page level custom scripts -->
        <!-- <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> -->
        <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->

        <!-- javascript end -->
    </body>
</html>